<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block title %} Main Page {% endblock title%}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</br>

{{ map|safe }} 

</br>
<div class="infobox" style="display:none;">
{% include 'snippets/infobox.html' %}
</div>
{% csrf_token %}
<script>
  const scriptTag =
    '<script>' +
    "function sendId() {const text = $('b').attr('id'); window.parent.postMessage(text); $(function(){$('.leaflet-popup-close-button').click(function(){window.parent.postMessage('close');});});};" + 
    '<\/script>';

  cleanInfo = () => {
        $('#castle-name').text('');
        $('#castle-type').text('');
        $('#castle-website').text('');
        $('input[name="current-state"]').prop('checked', false);
        $('#review').val('');
  };

  $('iframe').contents().find('body').append(scriptTag);
  $(document).ready(function(){
    $("#close-btn").click(function(){
      $(".infobox").hide();
    });
  });
  const iframe = document.getElementsByTagName('iframe')[0];
  let iWindow = null;

  window.addEventListener('message', event => {
    const { data } = event;
    if(data === 'close') {
      $(".infobox").hide();
    } else {
      $.ajax({
        method: 'GET',
        data: { castle_id: data,
      }, //loc_id: data },
        success: function (resp) {
          cleanInfo();
          $('#castle-name').text(resp.name);
          $('#castle-type').text(resp.castle_type);
          $('#castle-website').text(resp.website);
          $('.infobox').show()
        },
      });
    }
  });

  function showReviewBox() {
    $('#review-area').show()
  };

  function hideReviewBox() {
    $('#review-area').hide()
  };

  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  $('#submit-btn').click(function(){
      const castleName = $('#castle-name').text();
      const state = $('input[name="current-state"]:checked').val();
      const review = $('#review').val();

      $.ajax({
        method: 'POST',
        data: { castleName: castleName,
                state: state,
                review: review },
        success: function () {
          cleanInfo();
          $(".infobox").hide();
        },
      });
  });
</script>
<script src="../static/js/map.js"></script>
{% endblock content %}
